.hover-wrapper {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 9999;
  top: -60vh;
}

.name {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  color: black;
  white-space: nowrap;
  text-overflow: unset;
  margin-top: 4px;
}

.hover-container {
  position: relative;
  width: 128px;
  height: 128px;
  overflow: visible;
}

.pufferfish {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-container:hover .overlay {
  opacity: 1;
}
