<div *ngFor="let person of people; let i = index"
     class="hover-wrapper"
     [ngStyle]="{ top: hoverPositions[i].top, left: hoverPositions[i].left }">
    <div class="hover-container"
         (mouseenter)="setHoverState(i, true)"
         (mouseleave)="setHoverState(i, false)">
        <canvas
                id="contributor-{{ i }}"
                [style.background-image]="getPufferfishImage(i)"
                class="pufferfish"
                (click)="openModal(person)"
        ></canvas>
    </div>
    <p class="name">{{ person.name }}</p>
</div>

<!-- Modal Window -->
<div *ngIf="isModalOpen" class="modal" (click)="closeModalOnBackgroundClick($event)">
    <div class="modal-content">
        <button class="close-button" (click)="closeModal()">×</button>
        <h2>{{ selectedPerson?.name }}</h2>
        <img *ngIf="selectedPersonImage" [src]="selectedPersonImage" alt="{{ selectedPerson?.name }}'s GitHub Profile Picture" />
        <p *ngIf="selectedPerson?.githubUrl">
            <a [href]="selectedPerson!.githubUrl" target="_blank">Visit GitHub Profile</a>
        </p>
        <p *ngIf="selectedPerson?.description">{{ selectedPerson?.description }}</p>
    </div>
</div>
