<div *ngFor="let person of people; let i = index"
     class="hover-wrapper"
     [ngStyle]="{ top: hoverPositions[i].top, left: hoverPositions[i].left }">
    <div class="hover-container"
         (mouseenter)="setHoverState(i, true)"
         (mouseleave)="setHoverState(i, false)">
        <canvas
                id="contributor-{{ i }}"
                [style.background-image]="getPufferfishImage(i)"
                class="pufferfish"
                (click)="openModal(person.name)"
        ></canvas>
    </div>
    <p class="name">{{ person.name }}</p>
</div>

<!-- Modal Window -->
<div *ngIf="isModalOpen" class="modal" (click)="closeModalOnBackgroundClick($event)">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">×</span>
        <h2>{{ selectedPerson }}</h2>
        <p>Vous avez sélectionné {{ selectedPerson }}!</p>
    </div>
</div>
