<div *ngIf="showCookies">
    <div>
        Bienvenue sur notre site, un groupe d'étudiants prêts à relever des défis qui respectent votre vie privée !
        <br><br>
        Ce pop-up prend de la place parce que c’est bien trop important.
        <br><br>
        Accepter les cookies, ça veut dire quoi chez nous ?
        <br><br>
        Ça veut dire qu'on va vous suivre partout, tout le temps, ha ha ha ha.
        <br><br>
        Non, je rigole, on ne fait pas ça. On ne vous suit pas, on ne vous piste pas, on ne vous traque pas.
        <br><br>
        C'est juste pour ne pas vous embêter avec des pop-ups à chaque fois que vous venez sur notre site.
    </div>
    <div>
        <div><a href="#" (click)="acceptCookie()">Manger le cookie :)</a></div>
        
        <!-- Input field and submit button -->
        <div *ngIf="showInput">
            <input
                type="text"
                [(ngModel)]="userInput"
                placeholder="Type 'I agree to sell my soul to the lord of the underworld'"
            />
            <button (click)="submitAgreement()">Submit</button>
        </div>

        <div><a href="#" (click)="rejectCookie()">Jeter le cookie :(</a></div>
        <div *ngIf="showMsg">If you want to reject you have to click on the bucket</div>

    </div>
</div>
<div *ngIf="showRandomBucket" (click)="close()" class="random-div" [ngStyle]="{'top': randomDivPosition.y + 'px',
'left': randomDivPosition.y + 'px'}">Bucket</div>