    <app-cookies-popup></app-cookies-popup>
    <app-background></app-background>
    <div class="homepage-rest">
        <div class="modal-main-container">
            <!-- Modal Window -->
            <div *ngIf="isModalOpen" class="modal" [ngStyle]="modalStyles" (click)="closeModalOnBackgroundClick($event)">
              <div class="modal-content">
                <span class="close" (click)="closeModal()">×</span>
                <h2>Bienvenue dans la modale</h2>
                <p>Ceci est un exemple de fenêtre modale.</p>
              </div>
            </div>
            <div class="content">
                <canvas (click)="openModal('kidneys')"  class="kidneys bodypart" width="16" height="16"></canvas>
                <canvas (click)="openModal('heart')"  class="heart bodypart" width="16" height="16"></canvas>
                <canvas (click)="openModal('lungs')"  class="lungs bodypart" width="16" height="16"></canvas>
                <canvas (click)="openModal('eye')"  class="eye bodypart" width="16" height="16"></canvas>
                <canvas (click)="openModal('hand')"  class="hand bodypart" width="16" height="16"></canvas>
                <canvas (click)="openModal('hair')"  class="hair bodypart" width="32" height="32"></canvas>
                <canvas (click)="openModal('bone')"  class="bone bodypart" width="16" height="16"></canvas>
                <canvas (click)="openModal('stomach')"  class="stomach bodypart" width="16" height="16"></canvas>
            </div>
        </div>
    </div>
    

