<div class="main">
    <!-- <app-cookies-popup></app-cookies-popup> -->
    <app-nav-bar></app-nav-bar>
    <canvas  class="sun" width="128" height="128"></canvas>
    <button (click)="openModal()">Ouvrir la modale</button>

    <!-- Modal Window -->
    <div *ngIf="isModalOpen" class="modal" [ngStyle]="modalStyles" (click)="closeModalOnBackgroundClick($event)">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">×</span>
        <h2>Bienvenue dans la modale</h2>
        <p>Ceci est un exemple de fenêtre modale.</p>
      </div>
    </div>
    <div class="content"><canvas  class="kidneys" width="16" height="16"></canvas></div>
</div>

